/* Navigation */
nav {
    background: #333;
    position: absolute;
    top: 0;
    width: 100%;
}

nav a {
    float: left;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    color: #f2f2f2;
    font-size: 17px;
}

nav a:hover {
    background-color: #ffff;
    color: #000;
}

nav a.active {
    background: #b46505a8;
    color: #ffff;
}

.form {
    float: right;
    margin: 5px 10px 0 0;
}

.email, .password {
    padding: 4px;
}

.btn {
    padding: 2px;
}

/* Footer */
footer {
    position: relative;
    top: 20vh;
    background-color: #333;
    text-align: center;
    color: #ffff;
    padding: 10px 20px;
}

footer a {
    color: #ffffffa8;
}


/* Responsive Web Design */
@media screen and (max-width: 800px) {
    /* Navigation */
    nav {
        display: flex;
        justify-content: space-evenly;
    }
    
    nav a {
        float: none;
        text-decoration: none;
        font-size: 15px;
    }
    
    .form {
        display: none;
    }
    
    /* Footer */
    footer {
        top: 80vh;
        font-size: 12px;
    }
}

@media screen and (max-width: 450px) {
    nav a {
        font-size: 13px;
    }
}

@media screen and (max-width: 320px) {
    nav a {
        font-size: 9.5px;
    }
}