* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background: linear-gradient(#ffa500, #000, #ffa500);
  background-image: url(../IMG/Home.webp);
}

/* Header */
header h1 {
  text-align: center;
  font-size: 50px;
  margin: 70px 40px 40px 40px;
  color: #ffa500;
  background-color: #000;
  padding: 15px 0 15px 0;
}

.h-3 {
  padding: 0 0 15px 0;
}

.text-container {
  background-color: #ff8c00;
  padding: 15px 10px 35px 10px;
  border: solid 5px #000;
  margin-bottom: 50px;
  text-align: center;
  border-left: none;
  border-right: none;
}

.text.p {
  padding: 65px 65px 65px 65px;
}

/* Image Styles */
.img-container {
  display: grid;
  grid-template: repeat(2, 24vw) / repeat(3, 32vw);
  justify-items: center;
}

img {
  border: solid 5px;
  width: 20vw;
  height: 40vh;
}

#Naz, #Sketch, #Mommy {
  height: 50vh;
}

/* Responsive Web Design */
@media screen and (max-width: 1255px) {
  /* Image Styles */
  .img-container {
    grid-template: repeat(2, 28vw) / repeat(3, 32vw);
  }
  
  img {
    width: 25vw;
  }
  
  #Naz, #Sketch, #Mommy {
    width: 18vw;
    height: 40vh;
  }
}

@media screen and (max-width: 1077px) {
  /* Image Styles */
  .img-container {
    grid-template: repeat(2, 35vw) / repeat(2, 46vw);
  }
  img {
    width: 27vw;
  }
  #Naz, #Sketch, #Mommy {
    width: 24vw;
  }
}

@media screen and (max-width: 800px) {
  /* Header */
  header h1 {
    font-size: 30px;
  }
  
  /* Image Styles */
  .img-container {
    grid-template: repeat(9, 20%) / repeat(1, 100vw);
  }
  
  img {
    width: 50vw;
  }
  
  #Naz, #Sketch, #Mommy {
    width: 40vw;
    height: 50vh;
  }
}

@media screen and (max-width: 450px) {
  img {
    width: 90vw;
  }
  
  #Naz, #Sketch, #Mommy {
    width: 70vw;
    height: 50vh;
  }
}

@media screen and (max-width: 320px) {
  header h1 {
    font-size: 20px;
  }

  .text-container p {
    font-size: 13px;
  }

    #Naz, #Sketch, #Mommy {
      width: 90vw;
    }
}