* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(90deg, black, red, black);
}

main {
    position: relative;
    left: 26vw;
    top: 130px;
    background: #000;
    text-align: center;
    width: 35vw;
    padding: 90px;
    font-size: 30px;
    color: #f2f2f2;
}

p {
    margin-top: 20px;
    font-size: 20px;
}

a {
    font-size: 15px;
}

@media screen and (max-width: 1036px) {
    main {
        left: 24vw;
    }

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 16px;
    }
    
    a {
        font-size: 14px;
    }
}

@media screen and (max-width: 785px) {
    main {
        left: 13vw;
        width: 40%;
    }
    
    h1 {
        font-size: 35px;
    }
    
    p {
        font-size: 14px;
    }
    
    a {
        font-size: 13px;
    }
}

@media screen and (max-width: 528px) {
    main {
        left: 10vw;
    }

    h1 {
        font-size: 25px;
    }

    p {
        font-size: 12px;
    }
    
    a {
        font-size: 11px;
    }
}

@media screen and (max-width: 379px) {
    main {
        left: 5vw;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 10px;
    }
    
    a {
        font-size: 10px;
    }
}