* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background-image: url(../IMG/Practice_About.wetry7.webp);
  background-color: #ffa500;
}

/* Header */
header h1 {
  text-align: center;
  font-size: 50px;
  margin: 80px 40px 40px 40px;
  color: #ffa500;
  background-color: #000;
  border-radius: 100px;
  padding: 10px 0 10px 0;
}

h3 {
  margin: 0 0 20px 0;
}

.text-background {
  margin: 0 0 50px 0;
  color: #000;
  text-align: center;
  border: solid #000 4px;
  border-left: none;
  border-right: none;
  padding: 15px 10px 35px 10px;
  background-image: url(../IMG/try7.webp);
}

/* Image Styles */
.img-container {
  display: flex;
  justify-content: space-around;
}

.img-container img {
  border: solid 5px;
  width: 22vw;
  height: 300px;
  border-radius: 50px;
}

/* Responsive Web Design */
@media screen and (max-width: 1255px) {
  /* Image Styles */
  .img-container {
    display: grid;
    grid-template: repeat(2, 30vw) / repeat(2, 35vw);
  }

  .img-container img {
    width: 35vw;
  }
}

@media screen and (max-width: 1077px) {
  /* Image Styles */
  .img-container {
    grid-template: repeat(2, 35vw) / repeat(2, 35vw);
  }

  .img-container img {
    width: 35vw;
  }
}

@media screen and (max-width: 890px) {
  /* Image Styles */
  .img-container {
    grid-template: repeat(2, 50vw) / repeat(2, 40vw);
  }

  .img-container img {
    width: 40vw;
  }
}

@media screen and (max-width: 613px) {
  /* Image Styles */
  .img-container {
    grid-template: repeat(4, 100vw) / repeat(1, 65vw);
  }

  .img-container img {
    width: 70vw;
    height: 400px;
  }

  footer {
    top: 20px;
  }
}

@media screen and (max-width: 450px) {
  /* Image Styles */
  .img-container {
    grid-template: repeat(4, 100vw) / repeat(1, 70vw);
  }

  .img-container img {
    width: 75vw;
    height: 350px;
  }
}

@media screen and (max-width: 380px) {
  /* Image Styles */
  .img-container {
    grid-template: repeat(4, 150vw) / repeat(1, 85vw);
  }

  .img-container img {
    width: 85vw;
    height: 300px;
  }
}

@media screen and (max-width: 270px) {
  /* Image Styles */
  .img-container {
    grid-template: repeat(4, 170vw) / repeat(1, 90vw);
  }

  .img-container img {
    width: 90vw;
  }
}