* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #ffa500;
  background-image: url(../IMG/Finalbackground.webp)
}

header {
  text-align: center;
  padding: 10px 0 10px 0;
  margin-top: 60px;
  background-color: #000;
}

header h1 {
  font-size: 50px;
  color: #ffa500;
}

main {
  text-align: center;
  padding-bottom: 50px;
}

h3 {
  background-image: url(../IMG/try2.webp);
  padding: 35px 0 35px 0;
  border-radius: 30px;
  border: solid;
  margin: 20px 300px 0 300px;
  font-size: 20px;
  width: 55vw;
  margin-left: 21vw;
}

img {
  display: flex;
  justify-content: space-around;
  border: solid 20px;
  width: 400px;
  height: 450px;
  margin: 60px auto 40px auto;
}

footer {
  top: 15px;
}

/* Responsive Web Design */

@media screen and (max-width: 800px) {
  header h1 {
    font-size: 40px;
  }
  h3 {
    font-size: 16px;
    padding: 20px 100px 20px 100px;
  }
}

@media screen and (max-width: 450px) {
  header h1 {
    font-size: 30px;
  }
  img {
    width: 90vw;
    position: relative;
    left: 1px;
  }
  h3 {
    padding: 20px 50px 20px 50px;
  }
}

@media screen and (max-width: 320px) {
  header h1 {
    font-size: 20px;
  }
  h3 {
    padding: 10px 100px 10px 70px;
  }
}